@import './estilos/variables.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-oscuro);
  color: var(--color-crema);
}
